

/* SECTION */
.cfo-blog-section {
  padding: 50px 20px;
  background: white;
}

/* CONTAINER */
.cfo-blog-container {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.cfo-blog-header {
  text-align: center;
  margin-bottom: 70px;
}

.cfo-blog-badge {
  background: #EDF2FC;
  color: #3ab415;
  padding: 8px 18px;
  border-radius: 50px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}

.cfo-blog-header h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #0f172a;
}

.cfo-blog-header p {
  color: #64748b;
}

/* GRID */
.cfo-blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.cfo-blog-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  transition: all .4s ease;
  box-shadow: 0 20px 50px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.05);
}

.cfo-blog-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 30px 70px rgba(0,0,0,0.12);
}

/* IMAGE */
.cfo-blog-image-wrapper {
  position: relative;
  height: 230px;
  overflow: hidden;
}

.cfo-blog-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s;
}

.cfo-blog-card:hover img {
  transform: scale(1.08);
}

/* CATEGORY BADGE */
.cfo-blog-category {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #3ab415;
  color: white;
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 50px;
  font-weight: 600;
}

/* CONTENT */
.cfo-blog-content {
  padding: 25px;
}

.cfo-blog-date {
  font-size: 13px;
  color: #64748b;
}

.cfo-blog-content h3 {
 font-size: 14px;
  margin: 10px 0 20px;
  color: #0f172a;
  line-height: 1.4;
}

/* BUTTON */
.cfo-blog-btn {
  background: none;
  border: none;
  color: #3ab415;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  transition: .3s;
}

.cfo-blog-btn:hover {
  letter-spacing: 1px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .cfo-blog-grid {
    grid-template-columns: 1fr;
  }

  .cfo-blog-header h2 {
    font-size: 28px;
  }
}