


.cfo-testimonial-section {
  padding: 20px 20px;
  background: #EDF2FC;
}


.cfo-testimonial-container {
  max-width: 1200px;
  margin: auto;
}


.cfo-testimonial-header {
  text-align: center;
  margin-bottom: 70px;
}

.cfo-testimonial-badge {
  background: white;
  color: #3ab415;
  padding: 8px 18px;
  border-radius: 50px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.cfo-testimonial-header h2 {
  font-size: 1.7rem;
  margin-bottom: 15px;
  color: #0f172a;
  font-weight: 600;
}

.cfo-testimonial-header p {
  color: #64748b;
  font-size: 14px;
}


.cfo-testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.cfo-testimonial-card {
  background: white;
  padding: 35px;
  border-radius: 20px;
  transition: all .4s ease;
  box-shadow: 0 20px 50px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.cfo-testimonial-card:hover {
  /* background: linear-gradient(135deg, #3ab415, #6be63a); */
  background: #53BC48;
  color: white;
  transform: translateY(-12px);
  box-shadow: 0 25px 70px rgba(0,0,0,0.15);
}

.cfo-testimonial-card:hover .cfo-testimonial-text,
.cfo-testimonial-card:hover .cfo-client-info span {
  color: rgba(255,255,255,0.9);
}


.cfo-rating {
  color: #fbbf24;
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}


.cfo-testimonial-text {
    color: #334155;
    margin-bottom: 30px;
    line-height: 1.6;
    font-family: 'Poppins';
    font-size: 14px;
    transition: all .3s;
}


.cfo-client-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cfo-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.cfo-client-info h4 {
  margin: 0;
  color: #0f172a;
      font-size: 16px;
}

.cfo-client-info span {
  font-size: 13px;
  color: #64748b;
}


.cfo-testimonial-card:hover h4 {
  color: white;
}

@media (max-width: 992px) {
  .cfo-testimonial-grid {
    grid-template-columns: 1fr;
  }

  .cfo-testimonial-header h2 {
    font-size: 28px;
  }
}