


.custom-navbar {
  background-color: #0B1F3A;
  padding: 0.5rem 1rem;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #ffffff !important;
}

.custom-navbar .nav-link:hover {
  color: #53bc48 !important;
}

.custom-navbar .navbar-brand {
  /* font-size: 1.2rem; */
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}

.custom-navbar .navbar-nav .nav-link {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
}

.custom-navbar .btn.call-btn {
  background-color: #53bc48;
  border: none;
  white-space: nowrap;
  font-size: 14px;
  padding: 0.35rem 0.8rem;
  margin-left: 1rem;
}


.custom-navbar .navbar-toggler {
  border: none;
  outline: none;
}

.custom-navbar .navbar-toggler-icon {
  filter: invert(1);
}





@media (max-width: 992px) {
  .custom-navbar .navbar-nav {
    text-align: center;
  }
  .custom-navbar .navbar-nav .nav-item {
    margin: 0.25rem 0;
  }
  .custom-navbar .navbar-brand {
    font-size: 14px;
  }
  .custom-navbar .btn.call-btn {
    width: 100%;
    margin: 0.5rem 0 0 0;
  }
}


@media (max-width: 768px) {
  .custom-navbar .navbar-brand img {
    width: 35px;
    height: 35px;
  }
  .custom-navbar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 0.4rem 0.5rem;
  }
  .custom-navbar .btn.call-btn {
    font-size: 14px;
    padding: 0.35rem 0.6rem;
  }
}


@media (max-width: 480px) {
  .custom-navbar .navbar-brand {
    font-size: 14px;
    gap: 0.3rem;
  }
  .custom-navbar .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .custom-navbar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 0.3rem 0.4rem;
  }
  .custom-navbar .btn.call-btn {
    font-size: 14px;
    padding: 0.25rem 0.5rem;
  }
}