

.cfo-workflow-section{

  padding:20px 6%;
  background: #F4F8FF;
  position:relative;
  overflow:hidden;
}

.cfo-workflow-section::before{

  content:"";
  position:absolute;
  top:-200px;
  right:-200px;
  width:500px;
  height:500px;
  background: #E1EDFC;
  filter: blur(120px);

}

.cfo-workflow-section::after{

  content:"";
  position:absolute;
  bottom:-200px;
  left:-200px;

  width:500px;
  height:500px;

  background: radial-gradient(circle, rgba(58,180,53,0.12), transparent);
  filter: blur(120px);

}

.cfo-workflow-container{

  max-width:1200px;
  margin:auto;
  position:relative;
  z-index:2;

}

.cfo-workflow-header{
  text-align:center;
  margin-bottom:70px;
}

.cfo-workflow-badge{
  background: rgba(58,180,53,0.15);
  color:#3ab415;
  padding:8px 20px;
  border-radius:50px;
  font-size:14px;
  font-weight:600;
  
  display:inline-block;
  margin-bottom:20px;
}

.cfo-workflow-title{
  font-size:1.7rem;
  font-weight:600;
  color:rgb(0, 0, 0);
  margin-bottom:15px;
}

.cfo-workflow-subtitle{
  color:#000000;
  max-width:700px;
  margin:auto;
  font-size: 14px;
}



.cfo-workflow-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}

@media(max-width:992px){
  .cfo-workflow-grid{
    grid-template-columns:repeat(2,1fr);
  }

}

@media(max-width:600px){
  .cfo-workflow-grid{
    grid-template-columns:1fr;
  }

}


.cfo-workflow-card{
  position:relative;
  background: rgba(255,255,255,0.04);
  background: #ffffff;
  border:1px solid rgba(255,255,255,0.08);
  padding:45px 25px;
  border-radius:20px;
  backdrop-filter:blur(20px);
  transition:.4s;
  overflow:hidden;
  text-align:center;

}

.cfo-workflow-card:hover{

  transform:translateY(-10px);
  border-color:#3ab415;
  box-shadow:
  0 0 40px rgba(58,180,53,0.25);

}




.cfo-workflow-card:nth-child(2) .cfo-workflow-card-title{
  color:#0f172a;
}



.cfo-workflow-card:nth-child(2) .cfo-workflow-number{

  color:rgba(0,0,0,0.08);

}

.cfo-workflow-icon{
  font-size:22px; 
  width:50px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
  margin-bottom:18px;
  border-radius:12px;
  background: rgba(58,180,53,0.12);
  color:#3ab415;

}




.cfo-workflow-card-title{

  color:rgb(0, 0, 0);
  font-size:17px;
  font-weight:600;
  margin-bottom:10px;

}



.cfo-workflow-card-desc{

  color:#000000;
  font-size:14px;
  line-height:1.6;
  font-family: 'Poppins';

}


.cfo-workflow-card:hover .cfo-workflow-icon {
  background: rgba(58, 180, 53, 0.2);
  color: #2e9912;
}


